numpy==2.2.5
pandas==2.2.3
scipy==1.15.2
scikit-learn==1.6.1
matplotlib==3.10.1
geopandas==1.0.1
plotnine==0.14.5
shapely==2.1.0
requests==2.32.3
dotenv==0.9.9
pyarrow==17.0.0
rasterio==1.4.3
tqdm==4.67.1
ipywidgets==8.1.7
pysheds==0.4